mixin project-gen(items)
  each item in items
    .emp-wrapper
      .head
        .date-range= item.year
        h3= item.name
        h4= item.job
      .body
        .pro-labels
          each lib in item.library
            span.label.label-primary= lib
        ul
          each val in item.description
            li= val
        if item.github || item.links
          .pro-icons
            if item.github
              .github-star
                iframe(src="http://ghbtns.com/github-btn.html?user=#{item.github.author}&repo=#{item.github.repo}&type=watch&count=true&size=large", allowtransparency="true", frameborder="0", scrolling="0", width="125", height="30")
            if item.links
              ul
                each link in item.links
                  li
                    a(title= link.title, href= link.url, target="_blank")
                      i.fa(class= link.icon)

section#project
  .row
    .col-md-1
      .section-title
        .section-icon
          i.fa.fa-rocket
        .title
          h4= sections.project
    .col-md-11
      .box-wrapper.emp-box
        .row.timeline-wrapper
          .col-md-12
            +project-gen(project.col1)
          .col-md-12
            +project-gen(project.col2)
          .col-md-12
            +project-gen(project.others.repos)